.section-bar-wrapper {
  position: fixed;
  right: 0;
  top: 29vh;
}

.section-bar {
  height: 4rem;
  width: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.section-bar:hover {
  height: 4rem;
  width: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.section-bar-active {
  height: 4rem;
  width: 0.5rem;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
