.hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-page-container {
  position: absolute;
  width: 90%;
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}

.icons-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
}

.icon-link {
  color: white;
}

/* ≥ 320px: mobile size */
@media (min-width: 320px) {
  .hero-page-container {
    margin: 0 2rem 0 2rem;
    top: 40%;
  }
}

/* ≥ 1024px: Small Desktops */
@media (min-width: 1024px) {
  /* Desktop styles */
  .hero-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 45%;
  }
}

/* ≥ 1440px: Large Screens */
@media (min-width: 1440px) {
  /* Widescreen styles */
  .hero-page-container {
    justify-content: space-between;
    padding: 1rem 0 1rem var(--pd-left);
  }
}
