.hero {
  height: 100vh;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.hero-page-container {
  width: 60%;
}

.hero-title {
  margin: 2rem 0;
}

.icons-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
}

.icon-link {
  color: gray;
  transition: all 0.5s ease;
}

.icon-link:hover {
  color: white;
}
